[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "2.0.21"
pymysql = "1.1.0"
python-dotenv = "1.0.0"
bcrypt = "4.0.1"
fastapi = "0.103.2"
pyjwt = "2.8.0"
uvicorn = "0.23.2"
pycryptodome = "3.19.0"
requests = "2.31.0"

[dev-packages]

[requires]
